<p id="notice"><%= notice %></p>
<p>
<div style="width:40; height:auto">
  <strong>Pic:</strong>
  <%= image_tag(@profile.pic, style:"width:9%") %>
</p>

<p>
<%= link_to 'view' ,@profile.cv%>
<%= link_to 'Download',@profile.cv, download: ''%>
  <strong>Cv:</strong>
  <%= @profile.cv %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
